<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DHT11 dashboard</title>
    <script src="{{url_for('static', filename='bootstrap.min.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
    <script>
        async function fetchData() {
            const response = await fetch('/api/data');  // Načtení celé stránky
            const data = await response.json();
            document.getElementById('temperature').innerHTML = `<p>${data.temperature} °C</p>`;
            document.getElementById('humidity').innerHTML = `<p>${data.humidity} %</p>`;
        }
        setInterval(fetchData, 5000);  // Aktualizace každých 5 sekund
        window.onload = fetchData;  // Načtení dat při načtení stránky
        
    </script>
  


</head>
<body>
    <div class="container text-center mt-5">
        <h1>DHT11 live</h1>
        <p>DU_8</p>
            
        <div class="grid gap-3 d-md-flex justify-content-md-center">

            <div class="card text-bg-primary mb-3 shadow-mb" style="min-width: 15rem ;max-width: 35rem;">
                <div class="card-header">Teplota</div>
                <div class="card-body">
                    <h5 id="temperature" class="card-title">{{ temperature }} °C</h5>
                </div>
            </div>

            <div class="card text-bg-success mb-3 shadow-mb" style="min-width: 15rem ;max-width: 35rem;">
                <div class="card-header">Vlhkost</div>
                <div class="card-body">
                    <h5 id="humidity" class="card-title">{{ humidity }} %</h5>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
